{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}

{% block content %}

<h1>Sign up</h1>

<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock %}

<!--<div class="label-used-email">
    <p>this email or username is already registered</p>
</div>
<div class="form-floating mb-3 authorisation-element">
    <input type="email" class="form-control" id="floatingInput1" maxlength="60">
    <label for="floatingInput1">username (max 60)</label>
</div>
<div class="form-floating mb-3 authorisation-element">
    <input type="email" class="form-control" id="floatingInput2" maxlength="60">
    <label for="floatingInput2">email (max 60)</label>
</div>
<div class="form-floating authorisation-element">
    <input type="password" class="form-control" id="floatingPassword1" maxlength="60">
    <label for="floatingPassword1">password (max 60)</label>
</div>
<div class="form-floating authorisation-element">
    <input type="password" class="form-control" id="floatingPassword2" maxlength="60">
    <label for="floatingPassword2">repeat password (max 60)</label>
</div>
<div class="mb-3 authorisation-element">
    <label for="formFile" class="form-label">upload avatar</label>
    <input class="form-control" type="file" id="formFile">
</div>
<div class="btn-login">
    <button type="button" class="btn btn-primary btn-lg">register</button>
</div>-->