{% load static %}

<div class="row question">
    <div class="col-2">
        <img src="{% static '/img/avatar2.jpg'%}" alt="" onerror="this.style.display='none';"
             class="question-avatar">
        <div class="btn-group-vertical question-rating vote-section" role="group" data-url="{% url 'vote_question' %}">
            <button type="button" data-id="{{question.id}}" class="btn btn-outline-primary">like</button>
            <button type="button" data-id="{{question.id}}" class="btn btn-outline-danger">dislike</button>
            <div>
                <p class="rating-counter">{{question.rating}}</p>

            </div>

        </div>
    </div>

    <div class="col-10">
        <div class="question-title"><a href="{% url 'question' question.id %}">{{ question.title }}</a>
        </div>
        <div class="question-text">{{question.content}}</div>
        <div class="row answers-and-tag">
            <div class="col-4">
                <span class="answers">answers ( {{ question.answers.count }} )</span>
            </div>
            <div class="col-8">
                <span class="tag">tags: </span>
                {% for tag in question.tags.all %}
                <span class="tag"><a href="{% url 'tag' tag_name=tag %}">{{tag}}</a> </span>
                {% endfor %}
            </div>

        </div>
    </div>

</div>
